@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
}
.q1 {
  width: 100%;
}
.backgr {
  background-image: url("bg2.png");
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}
.textt {
  width: 40%;
  height: 100vh;
  text-align: center;
  font-weight: 500;
  font-family: "Geologica", sans-serif;
  color: white;
  padding-top: 10vw;
}
#name {
  color: transparent;
  -webkit-text-stroke: 0.4vw white;
  font-size: 13vw;
  line-height: 12vw;
}
#name2 {
  font-size: 2.8vw;
  line-height: 3.5vw;
}
#name3 {
  font-size: 4.3vw;
  line-height: 3.5vw;
}
.asd {
  width: 33vw;
}
#wer {
  margin-top: 1.8vw;
}
#we3 {
  margin-top: 10.4vw;
  width: 8vw;
}
.backgr2 {
  background-image: url("bg3.jpg");
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}
.q2 {
  width: 75%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.p1 {
  filter: grayscale(100%);
  transition: 0.3s ease-in-out;
  opacity: 0.9;
}
.p2 {
  filter: grayscale(100%);
  transition: 0.3s ease-in-out;
  opacity: 0.9;
}
.p3 {
  filter: grayscale(100%);
  transition: 0.3s ease-in-out;
  opacity: 0.9;
}
.p1:hover {
  transform: scale(1.1);
  filter: none;
  opacity: 1;
}
.p2:hover {
  transform: scale(1.1);
  filter: none;
  opacity: 1;
}
.p3:hover {
  transform: scale(1.1);
  filter: none;
  opacity: 1;
}
.w1 {
  width: 26vw;
}
/*ZXC1*/
.backgr3 {
  background-image: url("bg4.png");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.im {
  width: 33vw;
}
.q3 {
  margin: 0 auto;
  width: 85%;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  padding-top: 4.5vw;
}
.q4 {
  margin: 0 auto;
  width: 85%;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  padding-top: 4.5vw;
}
.im {
  filter: grayscale(100%);
  transition: 0.3s ease-in-out;
}
.im:hover {
  cursor: pointer;
  transform: scale(1.05);
  filter: none;
}
.pop_up {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: transparent;
  z-index: 2;
  transform: translateY(-30%) scale(0);
  transition: 0.3s ease-in-out;
}
.pop_up_container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.pop_up_body img {
  width: 100%;
}
.pop_up_body {
  width: 65%;
  position: relative;
  border: solid gray 0.2vw;
}
.pop_up_close {
  color: white;
  font-family: "Geologica", sans-serif;
  font-size: 1.6vw;
  position: absolute;
  right: 1.5vw;
  top: 0.7vw;
  cursor: pointer;
  opacity: 0.6;
}
.pop_up_close:hover {
  opacity: 1;
}
.pop_up_close .zasx {
  width: 1.3vw;
}
.pop_up.active {
  transform: translateY(0%) scale(100%);
  background-color: rgba(0, 0, 0, 0.7);
}
/*конец ZXC1*/
/*ZXC2*/
/*ZXC3*/
.backgr5 {
  background-image: url("backgr5.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding-top: 1vw;
  padding-bottom: 1vw;
}
.d1 {
  width: 100%;
  height: 32vh;
  display: flex;
  align-items: center;
}
.vo {
  width: 33%;
  border: 0.3vw gray solid;
  background-image: url("background67.png");
  font-weight: 500;
  font-family: "Geologica", sans-serif;
  color: white;
  text-align: center;
  padding: 0.4vw;
  margin: 0 auto;
  transition: 0.3s ease-in-out;
}
.vo:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.call {
  font-size: 3.5vw;
  color: white;
  text-decoration: none;
}
/*ВООРУЖЕНИЕ*/
.backgr4 {
  width: 100%;
  background-image: url("bg5.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: 500;
  font-family: "Geologica", sans-serif;
  color: white;
  padding-top: 1vw;
  padding-bottom: 1vw;
}
.qwer {
  width: 80%;
  border: solid gray 0.3vw;
  padding: 1vw;
  padding-top: 0.3vw;
  margin: 2vw auto;
  background-image: url("background78.png");
}
#qwer1 {
  display: flex;
}
.part1 {
  display: flex;
}
.qwer p {
  font-size: 1vw;
  margin-top: 0.7vw;
}
.qqq {
  width: 35%;
  border: solid gray 0.3vw;
  font-size: 3vw;
  text-align: center;
  margin: 3vw auto;
  padding: 0.5vw;
  background-image: url("background78.png");
}
.txt {
  width: 100%;
}
.txt1 {
  width: 100%;
}
#per {
  font-size: 1.7vw;
}
#per {
  font-size: 1.7vw;
}
.txt {
  width: 60%;
}
.yyy {
  margin-left: 1vw;
  border: 0.3vw gray solid;
  margin-top: 0.6vw;
}
.pict {
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
}
#pn {
  font-size: 2vw;
  margin: 0 auto;
  margin-top: 0.6vw;
}
.pic {
  height: fit-content;
  width: fit-content;
  text-align: center;
}
#tttt {
  text-decoration: none;
  left: 2vw;
  top: 1vw;
  background-image: url("background67.png");
  border: gray solid 0.2vw;
  width: fit-content;
  padding: 0.3vw;
}
#hodo {
  width: 37vw;
}
#ooo {
  margin-top: 0vw;
}
#tt {
  margin: 0 auto;
}
#bash {
  width: 30vw;
}
#www {
  width: 34vw;
}
#iiii {
  width: 32vw;
}
#vv {
  width: 25vw;
}
#bb {
  width: 52vw;
}
